@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    text-shadow: 0.5rem 0.5rem black;
    text-align: center;
    margin-bottom: 8rem;
    z-index: -5;

    transition: all 0.2s ease-in;
}

h1:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 30px #fdec6e;
}


h1-slide-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.h1-slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.game-list {
    align-items: center;
    background-color: dodger blue;
    display: flex;
    justify-content: center;
}


.hidden {
    opacity: 0;
    filter: blur(1rem);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}





/*Street Fighter Intro*/

#sf-logo {
    height: 15rem;
    margin-right: 3rem;
    position: relative;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
    transition: transform 0.2s ease-in-out;
}

#luke-sf-start {
    height: 10rem;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 3rem;

    -webkit-filter: drop-shadow(-0.5rem 0.5rem 0.75rem #ff9900) drop-shadow(0.5rem 0.5rem 0.75rem #0000ff);
    filter: drop-shadow(-0.5rem 0.5rem 0.75rem #ff9900) drop-shadow(0.5rem 0.5rem 0.75rem #0000ff);
}

#sf-ca {
    height: 5rem;
    opacity: 0;
    z-index: -2;
    position: absolute;
    rotate: 2deg;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 2.3rem;
    margin-top: 10.5rem;

    border-radius: 50%;
    -webkit-filter: drop-shadow(0rem 0rem 0.75rem #ff34b1);
    filter: drop-shadow(0rem 0rem 0.75rem #ff34b1);
}


#sf-intro:hover #sf-logo {
    transform: scale(1.15);
}

#sf-intro:hover #luke-sf-start {
    transform: scale(1.15) translateY(-5rem) rotate(7deg);
    opacity: 1;
}

#sf-intro:hover #sf-ca {
    transform: scale(1.15) translateY(3.5rem) rotate(-6deg);
    opacity: 1;
}







/*Tekken 8 Intro*/

#tekken-logo {
    height: 4.3rem;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
    transition: transform 0.2s ease-in-out;
}

#victor-tekken-start {
    height: 10rem;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 7rem;
    margin-top: -4rem;

    -webkit-filter: drop-shadow(-0.5rem 0.5rem 0.75rem #C0C0C0) drop-shadow(0.5rem 0.5rem 0.75rem #5d00ff);
    filter: drop-shadow(-0.5rem 0.5rem 0.75rem #C0C0C0) drop-shadow(0.5rem 0.5rem 0.75rem #5d00ff);
}

#tekken-health {
    height: 3rem;
    opacity: 0;
    z-index: -2;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 3rem;
    margin-top: 2.5rem;
    rotate: 4deg;

    -webkit-filter: drop-shadow(0rem 0rem 0.75rem #ffeb34);
    filter: drop-shadow(0rem 0rem 0.75rem #ffeb34);
}


#tekken-intro:hover #tekken-logo {
    transform: scale(1.15);
}

#tekken-intro:hover #victor-tekken-start {
    transform: scale(1.15) translateY(-5rem) rotate(9deg);
    opacity: 1;
}

#tekken-intro:hover #tekken-health {
    transform: scale(1.15) translateY(3.1rem) rotate(-6deg);
    opacity: 1;
}






/*Guilty Gear Intro*/

#gg-logo {
    height: 5.5rem;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
    transition: transform 0.2s ease-in-out;
    margin-left: 5rem;
}

#may-gg-start {
    height: 15rem;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 5rem;
    margin-top: -6rem;

    -webkit-filter: drop-shadow(-0.5rem 0.5rem 0.75rem #ff4d00) drop-shadow(0.5rem 0.5rem 0.75rem #00b3ff);
    filter: drop-shadow(-0.5rem 0.5rem 0.75rem #ff4d00) drop-shadow(0.5rem 0.5rem 0.75rem #00b3ff);
}

#gg-burst {
    height: 8rem;
    opacity: 0;
    z-index: -2;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 7.5rem;
    margin-top: 0rem;
    rotate: -3deg;

    -webkit-filter: drop-shadow(0rem 0rem 0.75rem #11ffeb);
    filter: drop-shadow(0rem 0rem 0.75rem #11ffeb);
}

#gg-intro:hover #gg-logo {
    transform: scale(1.15);
}

#gg-intro:hover #may-gg-start {
    transform: scale(1.15) translateY(-5rem) rotate(-12deg);
    opacity: 1;
}

#gg-intro:hover #gg-burst {
    transform: scale(1.15) translateY(3.5rem) rotate(5deg);
    opacity: 1;
}





#temp {
    margin-top: 50rem;
}