@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 3.5rem;
    text-shadow: 0.5rem 0.5rem black;
    text-align: center;
}


h1-slide-in {
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.h1-slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}


.game-list {
    align-items: center;
    background-color: dodger blue;
    display: flex;
    justify-content: center;
}


.hidden {
    opacity: 0;
    filter: blur(1rem);
    transform: translateX(-100%);
    transition: all 1s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}







#sf-logo {
    height: 15rem;
    margin-right: 3rem;
    position: relative;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
    transition: transform 0.2s ease-in-out;
}

#luke-sf-start {
    height: 10rem;
    opacity: 0;
    z-index: -1;
    position: absolute;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 3rem;

    -webkit-filter: drop-shadow(-0.5rem -0.5rem #ff9900) drop-shadow(0.5rem 0.5rem 0.75rem #0000ff);
    filter: drop-shadow(-0.5rem 0.5rem 0.75rem #ff9900) drop-shadow(0.5rem 0.5rem 0.75rem #0000ff);
}

#sf_ca {
    height: 5rem;
    opacity: 0;
    z-index: -2;
    position: absolute;
    rotate: 2deg;
    transition: transform 0.25s ease-out, opacity 0.15s ease-out, rotate 0.25s ease-out;
    margin-left: 2.5rem;
    margin-top: 10rem;

    border-radius: 50%;
    -webkit-filter: drop-shadow(0rem 0rem 0.75rem #ff34b1);
    filter: drop-shadow(0rem 0rem 0.75rem #ff34b1);
}


#sf-intro:hover #sf-logo {
    transform: scale(1.15);
    animation: bounce 0.5s;
}

#sf-intro:hover #luke-sf-start {
    transform: scale(1.15) translateY(-5rem) rotate(7deg);
    opacity: 1;
}

#sf-intro:hover #sf_ca {
    transform: scale(1.15) translateY(3.1rem) rotate(-6deg);
    opacity: 1;
}







#tekken-logo {
    height: 4.3rem;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
}

#gg-logo {
    height: 5.5rem;
    -webkit-filter: drop-shadow(0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem #000000);
    margin-left: 5rem;
}

#temp {
    margin-top: 50rem;
}