.header-tag {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}

.gg-carousel-container {
    width: 50rem;
    margin-bottom: 1.5rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.gg-leftside {
    float: left;
}

#gg-section {
    margin-top: 70rem;
}

#gg-section-logo {
    height: 8rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;

}

#gg-rank {
    height: 3rem !important;
}