h2 {
    font-size: 40px;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
}

p {
    font-size: 20px;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
}

.sf-carousel-container {
    width: 50rem;
    margin-bottom: 1.5rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.sf-leftside {
    float: left;
    margin-left: 6rem;
}

.sf-rightside {
    float: right;
    margin-right: 5rem;
}

.sf-leftside .sf-vertical-gallery {
    align-items: center;
    align-content: center;
    float: left;
}

.sf-vertical-gallery img {
    width: 14.3rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.sf6-character-section {
    float: right;
}

.sf-sub-list img {
    width: 15rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.sf-left-sub-list {
    float: left;
    margin-left: 6rem;
}

.sf-right-sub-list {
    float: right;
    align-content: center;
    text-align: center;
    margin-right: 6rem;
}

.SFRoundRectangle {
    height: 88%;
    width: 95%;
    background: linear-gradient(to bottom right, #44beff89, #ffe56190);
    border-radius: 2.5%;
    z-index: -5;
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -0.5rem;

    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}







#luke-main {
    height: 42rem;
    margin-left: 5rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

#street-fighter-section {
    /* margin-bottom: 10rem; */
    max-width: 115rem;
    display: flexbox;
    margin: auto auto 10rem;
}

#sf-section-logo {
    height: 6rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

#sf-spacing {
    height: 1rem;
    margin-bottom: 25rem;
}

#street-fighter-anchor {
    padding-bottom: 1.5rem;
}


@media only screen and (min-width: 2560px) {
    .SFRoundRectangle {
        width: 72%;
        height: 70%;
    }
}


@media only screen and (max-width: 1536px) and (min-width: 769px) {

    .sf-carousel-container {
        width: 28rem;
        margin-right: 0rem;
        margin-left: 5rem;
    }

    .sf-leftside {
        margin-left: 10rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
    }

    .sf-vertical-gallery img {
        width: 9.5rem;
        margin-right: 2rem;
    }
    
    .sf-rightside {
        margin-top: 1rem;
        margin-left: 0;
        margin-right: 10rem;
    }
    
    .sf-left-sub-list {
        margin-left: 2.2rem;
        margin-right: 3rem;
    }
    
    .sf-right-sub-list {
        margin-right: 1rem;
    }

    .sf-sub-list {
        margin-left: 3rem;
        margin-right: 0rem;
    }

    #luke-main {
        margin-left: 2rem;
        height: 28.5rem;
    }
    
    #street-fighter-section {
        margin-right: 1rem;
    }
    
    .SFRoundRectangle {
        width: 85%;
        /* height: 90%; */
        margin-left: 4.5rem;
    }

    h2{
        font-size: 28px;
    }

    #sf-spacing {
        height: 1rem;
        margin-bottom: 5rem;
    }
}



@media only screen and (max-width: 768px) {

    .sf-carousel-container {
        width: 35rem;
        margin-right: 0rem;
        margin-left: 5rem;
    }

    .sf-leftside {
        margin-left: 7rem;
        display: flexbox;
        justify-content: center;
        align-items: center;
    }

    .sf-vertical-gallery img {
        width: 10rem;
        margin-right: 2rem;
    }

    .sf-rightside {
        margin-top: 1rem;
        margin-left: 0;
    }

    .sf-left-sub-list {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    .sf-right-sub-list {
        margin-right: 1rem;
    }

    .sf-sub-list {
        margin-left: 3rem;
        margin-right: 0rem;
    }

    #luke-main {
        margin-left: 0rem;
        height: 30rem;
    }

    #street-fighter-section {
        margin-right: 1rem;
    }

    .SFRoundRectangle {
        width: 92%;
        height: 132%;
    }
}

@media only screen and (max-width: 600px) {

    .sf-carousel-container {
        width: 30rem;
        margin-right: -1.5rem;
        margin-left: 5rem;
        margin-top: 1rem;
    }

    .sf-vertical-gallery img {
        width: 10rem;
        margin-right: 0rem;
        margin-left: 1rem;
    }

    .sf-leftside {
        margin-left: 1rem;
    }

    .sf-sub-list {
        margin-left: 5rem;
        margin-right: 0rem;
    }

    .sf-left-sub-list {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .sf-right-sub-list {
        margin-right: -2rem;
    }

    #sf-section-logo {
        margin-right: 4rem;
        height: 5rem;
    }

    #luke-main {
        margin-left: 0rem;
        height: 29rem;
    }

    #street-fighter-section {
        margin-right: 0rem;
    }


    .SFRoundRectangle {
        width: 93%;
        height: 123%;
        margin-left: -0.5rem;
    }
}