.carousel-container {
    width: 45rem;
    margin-bottom: 1rem;
}

.leftside {
    float: left;
    margin-bottom: 2rem;
}

.rightside {
    float: right;
    margin-right: 6rem;
}

.rightside h2,
.rightside p {
    color: white;
}

.vertical-gallery {
    float: left;
    margin-left: 10rem;
}

.vertical-gallery img {
    width: 11rem;
    margin-bottom: 1.7rem;
}

.carousel-indicators button {
    width: 0.7rem !important;
    height: 0.7rem !important;
    border-radius: 100%;
}

#tekken-logo {
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

#victor-main {
    height: 43rem;
    margin-left: 5rem;
}

/* .carousel-image {
    height: 200px;
} */