h2 {
    font-size: 40px;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
}

p {
    font-size: 20px;
    -webkit-filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(0.5rem 0.5rem 0.5rem #000000);
}

.carousel-container {
    width: 50rem;
    margin-bottom: 1.5rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.tekken-leftside {
    float: left;
    margin-bottom: 2rem;
    margin-left: -10rem;
}

.tekken-rightside {
    float: right;
    margin-right: -6rem;
}

.tekken-rightside h2,
.tekken-rightside p {
    color: white;
}

.tekken-leftside .vertical-gallery {
    float: left;
}

.vertical-gallery img {
    width: 13rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}

.carousel-indicators button {
    width: 0.7rem !important;
    height: 0.7rem !important;
    border-radius: 100%;
}

.tekken-rightside .left-sub-list {
    float: left;
    margin-left: 8rem;
}

.tekken-rightside .right-sub-list {
    float: right;
    align-items: center;
    text-align: center;
    margin-right: 0rem;
}

.tekken-rightside .right-sub-list img {
    height: 9rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}



.header-tag {
    display: block;
    position: relative;
    top: -3.5rem;
    visibility: hidden;
}



#tekken-logo {
    height: 5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

#victor-main {
    float: right;
    margin-left: 5rem;
}

#victor-main img {
    height: 42rem;
    -webkit-filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
    filter: drop-shadow(1rem 0.5rem 0.5rem #000000);
}


#bottom-spacing {
    margin-top: 30rem;
    width: 0.1px !important;
}